// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/** Colores **/ 
$red: #BE1E2D;
$blue: #2EC4B6;
$gray-light: #E9E9E9;
$gray-mid: #959595;
$gray-dark: #453F3C;


/***---Fuentes---***/
$body-font: 'Nunito', sans-serif;
$title-font: 'Prompt', sans-serif;
/** Tamaños de Fuente **/
$main-title: 5rem;
$section-title: 3.5rem;
$subtitle: 2.8rem;
$btn: 2.6rem;
$link: 1.4rem;
$miniLink: 1rem;
$body: 1.6rem;




