// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/** Colores **/
$red: #be1e2d;
$blue: #2ec4b6;
$gray-light: #e9e9e9;
$gray-mid: #959595;
$gray-dark: #453f3c;

/***---Fuentes---***/
$body-font: "Nunito", sans-serif;
$title-font: "Prompt", sans-serif;
/** Tamaños de Fuente **/
$main-title: 3rem;
$section-title: 2rem;
$subtitle: 1.4rem;
$link: 1.5rem;
$miniLink: 1rem;
$body: 1.6rem;

/*** Estilos a utilidades **/

.btn {
  height: 4.5rem !important;
  border-radius: 0.5rem;
  background-color: $blue !important;
  color: #ffffff;
  text-transform: capitalize !important;
  font-size: $link + 0.1rem;
  padding: 1.2rem 1.5rem !important;
  margin: 0.7rem;
  font-family: $title-font !important;
  &:hover {
    color: $red;
    font-weight: 700;
    background: #ffffff !important;
  }
}

.h1 {
  font-size: 3rem;
  color: $red;
  line-height: 1.2;
}
h4 {
  font-size: $link + 0.5rem;
  font-family: $title-font;
  font-weight: 300;
  color: $red;
}
.link {
  font-size: $link + 0.2rem;
  color: $gray-mid;
  &:hover {
    color: $blue;
    border-bottom: 0.2rem solid $blue;
    margin-top: 0;
  }
}
.text {
  font-size: $body;
  color: $gray-mid;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/** Breakpoints **/ 
$telefono: 48rem;
$tablet: 76rem;
$desktop: 120rem;
$largeDesktop: 140rem;


/** Mixins **/ 
@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin lgdesktop {
    @media (min-width: $largeDesktop) {
        @content;
    }
}