// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/** Colores **/
$wine: #be1e2e;
$ocean: #0b83bf;
$gray-light: #e9e9e9;
$gray-mid: #959595;
$gray-dark: #453f3c;

/***---Fuentes---***/
$body-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;

/** Tamaños de Fuente **/
$main-title: 35px;
$section-title: 28px;
$subtitle: 16px;
$link: 19px;
$miniLink: 10px;
$body: 18px;
$body-sm: 14px;

/** Breakpoints **/ 
$miniTelefono: 320px;
$telefono: 425px;
$tablet: 768px;
$miniDesktop: 960px;
$desktop: 1264px;
$largeDesktop: 1440px;
$xlDesktop: 1904px;

/** Mixins **/ 
@mixin miniTelefono {
    @media (min-width: $miniTelefono) {
        @content;
    }
}
@mixin telefono {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin miniDesktop {
    @media (min-width: $miniDesktop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin lgdesktop {
    @media (min-width: $largeDesktop) {
        @content;
    }
}
@mixin xlDesktop {
    @media (min-width: $xlDesktop) {
        @content;
    }
}

/*** Estilos a utilidades **/
html, body, * {
  word-break: normal !important;
  line-height: 1.8;
  scroll-behavior: smooth;
}
ul, li, ol {
  list-style-type: none;
}
/** headings / titulos **/
h1,
h2,
h3,
h4,
a {
  font-family: $title-font !important;
  text-decoration: none;
}

h1 {
  font-size: 38px;
  color: $wine;
  line-height: 1.2;
  // text-align: center;
}
h2 {
    font-size: $section-title;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 10px;
  }
h3 {
    font-size: $section-title - 5px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
  }
h4 {
  font-size: $link;
  font-family: $title-font;
  font-weight: 400;
}
.red-font {
  color: $wine !important;
}
.blue-font {
  color: $ocean;
}
.gray-m-font {
  color: $gray-mid;
}
.gray-light-font {
  color: $gray-light;
}
.opacity {
  opacity: .75;
}
.border-n {
  border: 2px solid #959595;
}
/*** Botones ***/ 
.btn {
  height: 50px !important;
  border-radius: 9px !important;
  background-color: $ocean !important;
  color: #ffffff;
  text-transform: capitalize !important;
  font-size: $link;
  padding: 10px 20px !important;
  margin: 7px;
  font-family: $title-font !important;
  &:hover {
    color: #fff;
    font-weight: 400;
    background: rgba( $wine, .75) !important;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    transition: .5s;
  }
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 9px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
}
.minibtn {
  height: 45px !important;
  border-radius: 9px;
  background-color: $ocean !important;
  color: #ffffff;
  text-transform: capitalize !important;
  font-size: $link - 3px;
  padding: 12px !important;
  margin: 5px !important;
  font-family: $title-font !important;
  &:hover {
    color: #fff;
    font-weight: 400;
    background: $wine !important;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    transition: .5s;
  }
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 9px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
}

/*** tools y espaciados **/ 
.centrar {
  display: flex !important;
  justify-content: center !important;
  align-items: center!important;
}

.gutter-p {
    padding-top: 20px !important;
}

section {
  padding: 20px 0 !important;
  // margin-bottom: 20px !important;
}
.fw-300 {
  font-weight: 300 !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900 !important;
}
.link {
  font-size: $link;
  color: $gray-mid;
  &:hover {
    color: $ocean;
    border-bottom: 2px solid $ocean;
    margin-top: 0;
  }
}
.text {
  font-size: $body;
  color: $gray-mid;
  font-weight: 300;
  line-height: 1.7 !important;
  margin: 0;
  padding: 0;
}
.text-blog {
  font-size: $body + 2px;
  color: $gray-mid;
  font-weight: 300;
  line-height: 1.8 !important;
  margin: 0;
  padding: 0;
}
.text-mid {
  font-size: $body - 2px !important;
  color: $gray-mid;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.text-small {
  font-size: $body-sm;
  color: $gray-mid;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

  //** Tarjetas **/
// .hero-card {
//   background-color: rgba($color: #fff, $alpha: .8) !important;
// }
.card-title {
  font-family: $title-font;
  font-size: $body;
  padding: 0 5px;
  margin: 10px;
  // color: $gray-mid;
  line-height: 1.4 !important;
}
/** Banners - heros **/
.hero {
  position: relative;
  top: 0; left: 0;
  width: 100%;
  background-size: cover;
  // background-attachment: fixed;
  // z-index: -99;
  // background-position: 25% 25%;
  .mask {
    position: absolute;
    background-color: rgba($color: $wine, $alpha: 0.1);
    min-height: 100%;
    width: 100%;
  }
}
@include tablet {
  .hero {
    // min-height: 100%;
    height: 100vh;
  }
}
.priceOld {
  color: $wine;
  font-size: $link;
  font-family: $title-font;
  text-decoration: line-through;
}
.priceNew {
  color: $gray-mid;
  font-size: 25px;
  font-family: $title-font;
  font-weight: 400;
}